body{
  width: 90%;
  margin: auto;
  background: linear-gradient(to right, teal 0%, violet 70%);
}

h1{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3em;
}

p{
  margin-left: 19%;
  font-size: 1.3em;
}

#wrapper{
  margin-left: 24%;
  margin-top: 5%;
}

form{
  display: inline;
}

input{
  width: 10em;
  height: 3em;
  margin: 0.5em;
  font-size: 1.1em;
  border: none;
  background: linear-gradient(to right, red 0%, black 90%);
  background-color: rgba(33,33,33, 0.7);
  transition: all 0.5s ease-in-out;
}

input:hover{
  background: linear-gradient(to right, black 0%, red 90%);
  background-color: rgba(33,33,33, 0.7);
  transition: all 0.5s ease-in-out;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 5px 7px rgba(33,33,33, 0.6), 0px -5px 7px rgba(33,33,33, 0.6);
}

#display{
  text-align: center;
  font-family: georgia;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 3em;
  padding-bottom: 3em;
  display: none;
}

span{
  font-weight: bold;
  font-size: 2em;
}